version: '3.8'
services:
  postgres:
    image: postgres:15
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: arturo
      POSTGRES_PASSWORD: uni1234!
      POSTGRES_DB: acorta-t
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: